$primary: #6f42c1;
$light: #e9ecef;
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.search-bar {
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    .per-page {
        column-gap: 0.5rem;

        label {
            word-break: keep-all;
            white-space: nowrap;
        }
    }
}
